@model DrugManagementWebApp.Models.AntiAllergicDrug

@{
    ViewData["Title"] = "Create";
}

<h1>Anti-Allergic Drug Create</h1>

<h4>Anti Allergic Drug</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AntiAllDrugShortName" class="control-label"></label>
                <input asp-for="AntiAllDrugShortName" class="form-control" />
                <span asp-validation-for="AntiAllDrugShortName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AntiAllDrugLongName" class="control-label"></label>
                <input asp-for="AntiAllDrugLongName" class="form-control" />
                <span asp-validation-for="AntiAllDrugLongName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AntiAllDrugDescription" class="control-label"></label>
                <input asp-for="AntiAllDrugDescription" class="form-control" />
                <span asp-validation-for="AntiAllDrugDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
