@model DrugManagementWebApp.Models.ReactionAgent

@{
    ViewData["Title"] = "Create";
}

<h1>Reaction Agent Create</h1>

<h4>Reaction Agent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ReactAgentShortName" class="control-label"></label>
                <input asp-for="ReactAgentShortName" class="form-control" />
                <span asp-validation-for="ReactAgentShortName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReactAgentLongName" class="control-label"></label>
                <input asp-for="ReactAgentLongName" class="form-control" />
                <span asp-validation-for="ReactAgentLongName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReactAgentDescription" class="control-label"></label>
                <input asp-for="ReactAgentDescription" class="form-control" />
                <span asp-validation-for="ReactAgentDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
