@model DrugManagementWebApp.Models.AllergicSymptom

@{
    ViewData["Title"] = "Details";
}

<h1>Allergic Symptom Details</h1>

<div>
    <h4>Allergic Symptom</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllSymName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllSymName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllSymDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllSymDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AllergicSymptomId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
